#canvas {
position: absolute;
height: 500px; width: 500px;
top: 60%; margin-top: -250px;
left: 50%; margin-left: -250px;
background: #000;
}
body {
margin: 0; padding: 0;
background-color: #888;
}
#domainLower, #domainUpper, #inputFPS{
  width:50px;
}
#inputEquation{
  width:100px;
}
#notes{
  position: absolute;
  top: 20%; 
  left: 90%; margin-left: -250px;
}
#title{
  position: absolute;
  left: 39%;
}
#author{
  position: absolute;
  left: 47%;
  top: 10%;
}
#form{
  position: absolute;
  top: 23%;

}
